<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
/*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/
th {
        text-align: center;
}
body{
        text-align: center !important;
}
p{
        margin-top: 20px;
        font-size: 30px;
}
input{
        text-align: center;
}
.mssg{
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text-center {
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

#LangTable a {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    text-decoration: none;
    color: #007bff;
}

#LangTable a:hover {
    text-decoration: underline;
}

</style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Seoultech Login</h1>
                <h2>We connect the World</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <div id="LangTable">
                    <a href="/login" id="aa" class="btn btn-primary btn-block">Login</a><br>
                    <a href="/register" id="bb" class="btn btn-secondary btn-block">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
