<!DOCTYPE html>
<html>
<head>
        <title>Registration</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./css/main.css">


        <script type="text/javascript">
                $(document).ready(function(){

                        $( "#form1" ).submit(function(event) {
                                event.preventDefault();

                                $.ajax({
                                        type: 'POST',
                                        url: '/register',
                                        data: $('#form1').serialize(),
                                        dataType: "json",
                                        success: function(response){
                                                //alert("a");
                                                //console.log(response.Success);
                                                $('#form1')[0].reset();

                                                document.getElementById("check").innerHTML=response.Success;
                                        },
                                        error: function() {
                                        }
                                })
                        });
                });
        </script>
    <style>
        @font-face {
            font-family: 'GmarketSans';
            src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
                 url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff');
            font-weight: 300;
            font-style: normal;
        }
        @font-face {
            font-family: 'GmarketSans';
            src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2') format('woff2'),
                 url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff') format('woff');
            font-weight: 500;
            font-style: normal;
        }
        @font-face {
            font-family: 'GmarketSans';
            src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2') format('woff2'),
                 url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff') format('woff');
            font-weight: 700;
            font-style: normal;
        }

        body {
            font-family: 'GmarketSans', sans-serif;
            text-align: center;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fcf0ff;
        }

        h1, h2 {
            margin: 10px 0;
        }

        #LangTable a {
            display: block;
            margin: 10px 0;
            font-size: 18px;
            text-decoration: none;
            color: #007bff;
        }

        #LangTable a:hover {
            text-decoration: underline;
        }
    </style>

</head>
<body>

        <div class="col-md-4 col-md-offset-4">
                <div>
                        <p>Register Now
                        </p>
                </div>
                <div class="form-group">
                        <form id="form1" method="post">
                                <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
                                <input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
                                <input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
                                <input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
                                <input type="text" name="company" placeholder="Company" class="form-control"><br/> <!-- Added company input -->
                                <input type="text" name="school" placeholder="School" class="form-control"><br/> <!-- Added school input -->
                                <input type="submit" value="Register" class="btn btn-success">
                        </form>
                </div>

                <div class="mssg bg-danger">
                        <span id="check"></span>
                </div>
                <div>
                        <span>Already Registered! <a href="/login">Login</a></span>
                </div>
                <div id="LangTable"><a href="/login" id="aa">login</a>
                </div>
        </div>
</body>
</html>

