/*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/
th {
        text-align: center;
}
body{
	text-align: center !important;
}
p{
	margin-top: 20px;
	font-size: 30px;
}
input{
	text-align: center;
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text-center {
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

#LangTable a {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    text-decoration: none;
    color: #007bff;
}

#LangTable a:hover {
    text-decoration: underline;
}
